.item-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.container {
    max-width: 750px;
}

.edit {
    display: none;
}

.editing .edit {
    display: block;
}

.editing .view {
    display: none;
}

.pencil {
    display: none;
}

.list-group-item:hover .pencil {
    display: block;
}