.item-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.item-group li:nth-child(even) {
    background-color: #eee;
}

.container {
    max-width: 750px;
}

.edit-form {
    display: none;
}

.editing .edit-form {
    display: block;
}

.editing .view {
    display: none;
}

.actions {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
}

.list-group-item {
    padding: 0 15px;
}

.list-group-item:hover .actions {
    display: block;
}

.item-group .list-group-item:hover {
    background-color: #dee8f1;
}

.page-header {
    position: relative;
}

#loading {
    position: absolute;
    top: 4px;
    right: 0;
}

.details, .estimate, .edit-form {
    padding: 10px 15px;
}

.details {
    border-right: 1px solid #ddd;
}

.details, .estimate {
    position: relative;
}

.estimate {
    font-weight: bold;
}

.alert ul {
    padding-left: 20px;
}