<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning Poker</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <section id="planning-poker-app" class="container">
        <header id="header" class="page-header">
            <h1>Planning Poker</h1>
            <img id="loading" src="img/loading.gif" />
        </header>

        <section id="intro">
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Try opening this app in another browser and then create, edit or delete a story.
            </div>
        </section>

        <section id="main">
            <ul id="story-list" class="item-group"></ul>
        </section>

        <section id="create-story" class="well">
            <h4>New Story</h4>

            <form id="create-story-form" role="form">
                <div class="form-group">
                    <label for="new-story-title">Title <span class="text-muted">(required)</span></label>
                    <input type="text" class="form-control" id="new-story-title"
                           placeholder="Enter story title" />
                </div>
                <div class="form-group">
                    <label for="new-story-description">Description</label>
                    <textarea class="form-control" id="new-story-description"
                              placeholder="Give a description of the story"
                              rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </section>
    </section>

    <footer id="info" class="container">
        <p>Written by <a href="https://github.com/pmdarrow">Peter Darrow</a></p>
    </footer>

    <!-- Templates -->

    <script type="text/template" id="story-template">
        <div class="view">
            <div class="row">
                <div class="col-sm-10 details">
                    <div class="actions">
                        <button type="button" class="btn btn-xs btn-default edit-btn">
                            <i class="glyphicon glyphicon-pencil"></i> Edit
                        </button>
                        <button type="button" class="btn btn-xs btn-danger delete-btn">
                            <i class="glyphicon glyphicon-remove"></i> Delete
                        </button>
                        <button type="button" class="btn btn-xs btn-success">
                            <i class="glyphicon glyphicon-check"></i> Reveal
                        </button>
                    </div>
                    <h4 class="list-group-item-heading"><%- title %></h4>
                    <p class="list-group-item-text"><%- description %></p></div>

                <div class="col-sm-2 estimate">
                    <div class="actions">

                    </div>
                    <%- estimates.length %> estimates
                </div>
            </div>
        </div>
        <div class="row">
            <form class="edit-form" role="form">
                <div class="form-group">
                    <label for="story-title">Title <span class="text-muted">(required)</span></label>
                    <input type="text" class="form-control" id="story-title"
                           placeholder="Enter story title" value="<%- title %>"/>
                </div>
                <div class="form-group">
                    <label for="story-description">Description</label>
                    <textarea class="form-control" id="story-description"
                              placeholder="Give a description of the story"
                              rows="3"><%- description %></textarea>
                </div>
                <div class="form-group">
                    <label for="story-description">Estimate (hours)</label>
                    <input type="text" class="form-control" id="story-estimate"
                           placeholder="Enter your estimate" />
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-default cancel">Cancel</button>
            </form>
        </div>
    </script>

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone-timestamp/index.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.goinstant.net/v1/platform.min.js"></script>
    <script src="js/goinstant-store.js"></script>
    <script src="js/models/story.js"></script>
    <script src="js/collections/stories.js"></script>
    <script src="js/views/story-view.js"></script>
    <script src="js/views/app-view.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
